server:

  port: 8681



spring:

    datasource:

        name: test

        url: jdbc:mysql://10.10.60.100:3306/member

        username: cheng

        password: cheng123~!.

        # 使用druid数据源

        type: com.alibaba.druid.pool.DruidDataSource

        driver-class-name: com.mysql.jdbc.Driver

        filters: stat

        maxActive: 20

        initialSize: 1

        maxWait: 60000

        minIdle: 1

        timeBetweenEvictionRunsMillis: 60000

        minEvictableIdleTimeMillis: 300000

        validationQuery: select 'x'

        testWhileIdle: true

        testOnBorrow: false

        testOnReturn: false

        poolPreparedStatements: true

        maxOpenPreparedStatements: 20
    redis:
        database: 0
        host: 127.0.0.1
        port: 6379
        pool:
            max-active: 20
        password:

mybatis:

  mapper-locations: classpath:mapping/*.xml

  type-aliases-package: com.hrf.model



#pagehelper分页插件

pagehelper:

    helperDialect: mysql

    reasonable: true

    supportMethodsArguments: true

    params: count=countSql


