<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.EnterpriseBasicInfoMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.EnterpriseBasicInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="suburb" jdbcType="VARCHAR" property="suburb" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="contact_title" jdbcType="VARCHAR" property="contactTitle" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bbs_number" jdbcType="VARCHAR" property="bbsNumber" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="rate" jdbcType="VARCHAR" property="rate" />
    <result column="profit_distribution" jdbcType="INTEGER" property="profitDistribution" />
    <result column="settlement_cycle" jdbcType="VARCHAR" property="settlementCycle" />
    <result column="uploading_files" jdbcType="VARCHAR" property="uploadingFiles" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_abn" jdbcType="VARCHAR" property="companyAbn" />
    <result column="company_acn" jdbcType="VARCHAR" property="companyAcn" />
    <result column="company_industry" jdbcType="VARCHAR" property="companyIndustry" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_suburb" jdbcType="VARCHAR" property="companySuburb" />
    <result column="company_state" jdbcType="VARCHAR" property="companyState" />
    <result column="company_postcode" jdbcType="VARCHAR" property="companyPostcode" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, member_id, address, suburb, state, post_code, phone, email, contact_name, contact_phone, 
    contact_title, account_name, bank_name, bbs_number, file_path, create_time, update_time, 
    type, rate, profit_distribution, settlement_cycle, uploading_files, company_name, 
    company_abn, company_acn, company_industry, company_address, company_suburb, company_state, 
    company_postcode
  </sql>
</mapper>