<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.LoginNameMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.LoginName">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="login_id" jdbcType="INTEGER" property="loginId" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="SOURCE_TYPE" jdbcType="DECIMAL" property="sourceType" />
    <result column="LOGIN_NAME_TYPE" jdbcType="DECIMAL" property="loginNameType" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    login_id, MEMBER_ID, OPERATOR_ID, LOGIN_NAME, SOURCE_TYPE, LOGIN_NAME_TYPE, UUID, 
    CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER, MEMO
  </sql>
</mapper>