<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.MailboxActivationMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.MailboxActivation">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="mailbox_name" jdbcType="VARCHAR" property="mailboxName" />
    <result column="activation_code" jdbcType="VARCHAR" property="activationCode" />
    <result column="status" jdbcType="DECIMAL" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, member_id, mailbox_name, activation_code, status, create_time, update_time
  </sql>
</mapper>