<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.MemberIdentityMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.MemberIdentity">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="IDENTITY" jdbcType="VARCHAR" property="identity" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="IS_RECV_ADDR" jdbcType="DECIMAL" property="isRecvAddr" />
    <result column="IDENTITY_TYPE" jdbcType="DECIMAL" property="identityType" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="PID" jdbcType="DECIMAL" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    IDENTITY, MEMBER_ID, STATUS, IS_RECV_ADDR, IDENTITY_TYPE, CREATE_TIME, UPDATE_TIME, 
    MEMO, PID
  </sql>
</mapper>