<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rechenggit.core.dal.mapper.MemberIdentityMapper" >
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.MemberIdentity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="IDENTITY" property="identity" jdbcType="VARCHAR" />
    <id column="PID" property="pid" jdbcType="DECIMAL" />
    <result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="IS_RECV_ADDR" property="isRecvAddr" jdbcType="DECIMAL" />
    <result column="IDENTITY_TYPE" property="identityType" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    IDENTITY, PID, MEMBER_ID, STATUS, IS_RECV_ADDR, IDENTITY_TYPE, CREATE_TIME, UPDATE_TIME, 
    MEMO
  </sql>
</mapper>