<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.Member">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="MEMBER_SHORT_NAME" jdbcType="VARCHAR" property="memberShortName" />
    <result column="MEMBER_TYPE" jdbcType="DECIMAL" property="memberType" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="LOCK_STATUS" jdbcType="DECIMAL" property="lockStatus" />
    <result column="FROM_IP" jdbcType="VARCHAR" property="fromIp" />
    <result column="ACTIVE_TIME" jdbcType="TIMESTAMP" property="activeTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="SECURITY_LEVEL" jdbcType="VARCHAR" property="securityLevel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    MEMBER_ID, MEMBER_NAME, MEMBER_SHORT_NAME, MEMBER_TYPE, STATUS, LOCK_STATUS, FROM_IP, 
    ACTIVE_TIME, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER, MEMO, SECURITY_LEVEL
  </sql>
</mapper>