<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.OperatorMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.Operator">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="OPERATOR_TYPE" jdbcType="DECIMAL" property="operatorType" />
    <result column="IS_DEFAULT" jdbcType="DECIMAL" property="isDefault" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="ACTIVE_TIME" jdbcType="TIMESTAMP" property="activeTime" />
    <result column="LOCK_STATUS" jdbcType="DECIMAL" property="lockStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="SECURITY_FLAG" jdbcType="DECIMAL" property="securityFlag" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="GESTURE_PWD" jdbcType="VARCHAR" property="gesturePwd" />
    <result column="FACE_MARK_URL" jdbcType="VARCHAR" property="faceMarkUrl" />
    <result column="ANTI_FAKE_MARK" jdbcType="VARCHAR" property="antiFakeMark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    OPERATOR_ID, MEMBER_ID, NICKNAME, OPERATOR_TYPE, IS_DEFAULT, STATUS, ACTIVE_TIME, 
    LOCK_STATUS, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER, MEMO, SECURITY_FLAG, 
    PASSWORD, GESTURE_PWD, FACE_MARK_URL, ANTI_FAKE_MARK
  </sql>
</mapper>