<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.PwdOperatorLockMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.PwdOperatorLock">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="COUNT_START_TIME" jdbcType="TIMESTAMP" property="countStartTime" />
    <result column="LOCK_TIME" jdbcType="TIMESTAMP" property="lockTime" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="FLAG" jdbcType="DECIMAL" property="flag" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    ID, OPERATOR_ID, ACCOUNT_ID, COUNT_START_TIME, LOCK_TIME, STATUS, FLAG, CREATE_USER, 
    CREATE_TIME, UPDATE_USER, UPDATE_TIME, MEMO
  </sql>


</mapper>