<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.StoreInfoMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.StoreInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="display_num" jdbcType="TINYINT" property="displayNum" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_address" jdbcType="VARCHAR" property="storeAddress" />
    <result column="store_suburb" jdbcType="VARCHAR" property="storeSuburb" />
    <result column="store_state" jdbcType="VARCHAR" property="storeState" />
    <result column="store_post_code" jdbcType="VARCHAR" property="storePostCode" />
    <result column="store_phone" jdbcType="VARCHAR" property="storePhone" />
    <result column="store_email" jdbcType="VARCHAR" property="storeEmail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, member_id, display_num, store_name, store_address, store_suburb, store_state, 
    store_post_code, store_phone, store_email, create_time, update_time
  </sql>
</mapper>