<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rechenggit.core.dal.mapper.TrPasswordMapper">
  <resultMap id="BaseResultMap" type="com.rechenggit.core.dal.dataobject.TrPassword">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPERATOR_ID" jdbcType="VARCHAR" property="operatorId" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="WAP_PASSWORD" jdbcType="VARCHAR" property="wapPassword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    ID, OPERATOR_ID, ACCOUNT_ID, password, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER, 
    MEMO, WAP_PASSWORD
  </sql>
</mapper>